progress-bar {
  .progress-outer {
      width: 96%;
      margin: 3px 2%;
      text-align: center;
      background-color: rgb(235, 235, 235);
      border-radius: 5px;
  }

  .progress-inner {
      background-color: map-get($colors, primary);
      border-radius: 5px;
      height: 15px;
      overflow: hidden;
      white-space: nowrap;
  }
}
