<ion-header>
  <ion-navbar>
    <ion-title>Recipes</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-fab right bottom>
    <button ion-fab color="default" (click)="onAddRecipe()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-searchbar debounce="500" (ionInput)="onSearchRecipe($event)"></ion-searchbar>
  <div text-center margin-top *ngIf="recipes.length <= 0">
    <h1><ion-icon name="alert"></ion-icon></h1>
    No recipe found.
  </div>
  <ion-list margin-top>
    <ion-item-sliding
      *ngFor="let recipe of recipes; let i = index"
      (click)="onLoadRecipe(recipe, i)">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="http://via.placeholder.com/200x200">
        </ion-thumbnail>
        <h2>{{recipe.name}}</h2>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="onRemoveRecipe($event, recipe.name, i)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
