<ion-header>
  <ion-navbar>
    <ion-title>Shopping list</ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content padding>
  <ion-fab right bottom>
    <button ion-fab color="default" (click)="onAddList()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <div text-center margin-top *ngIf="allLists.length <= 0">
    <h1><ion-icon name="alert"></ion-icon></h1>
    No shopping list found. You can create one by clicking in the button below.
  </div>
  <ion-list>
    <ion-item-sliding
      *ngFor="let list of allLists; let i = index"
      (click)="onLoadList(list, i)">
      <ion-item>
        <h2>{{list.name}}</h2>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="onRemoveList($event, list.name, i)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>