<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ isEditMode ? 'Edit' : 'Add' }} recipe
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input formControlName="title" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Difficulty</ion-label>
        <ion-select formControlName="difficulty">
          <ion-option
            *ngFor="let option of [1, 2, 3, 4, 5]"
            [value]="option">{{ option }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Notes</ion-label>
        <ion-textarea formControlName="notes"></ion-textarea>
      </ion-item>
      <ion-card *ngFor="let ingredient of recipeForm.get('ingredients').controls; let i=index" [formGroup]="ingredient">
        <ion-card-content>
          <ion-buttons end>
            <button type="button" color="danger" no-padding	ion-button clear (click)="removeIngredient(i)">Remove</button>
          </ion-buttons>
          <ion-list inset>
            <ion-item>
              <ion-label fixed>Name</ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label fixed>Quantity</ion-label>
              <ion-input type="number" formControlName="quantity"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label fixed>Price per unit</ion-label>
              <ion-input type="number" formControlName="price"></ion-input>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-buttons end>
        <button type="button" ion-button clear (click)="addIngredientsToForm([{
          name: '',
          quantity: 0,
          price: 0,
          checked: false
        }])">New item</button>
      </ion-buttons>
    </ion-list>
    <button type="submit" [disabled]="recipeForm.invalid" ion-button block>
      {{ isEditMode ? 'Edit' : 'Add' }} recipe
    </button>
  </form>
</ion-content>
